/* Tamaños de mediaquerys */
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

/* Espaciados */
$espaciado: 10rem;


/* Colores */
//Primario
$azul: #00151f;
$azul-claro: #52ABE9;

//Secundario
$amarillo: #F5A623;

//Fondo
$blanco: #FFF;

//Texto
$gris: #333333;

//Botones
$verde: #71B100;
$rojo: #D0021B;
//rgb(206, 7, 7) rojo alternativa


/* Tipografia */
//Titulo y Encabezados
$fuente-principal: "Merriweather", serif;

//Texto del cuerpo
$fuente-texto: "Roboto", sans-serif;