@use '../base/variables' as v;
@use '../base/mixins' as m;

.hero {
    width: 100%;
    min-height: 55rem;
    background-color: v.$azul;
    display: flex;
    justify-content: center;
    align-items: center;
    color: v.$blanco;

    .container-hero {
        @include m.grid(2, 5rem);
    }

    .title-hero {
        color: v.$azul-claro;
        font-size: 2rem;
    }

    h2 {
        font-size: 4rem;
        line-height: 1.5;
        font-family: v.$fuente-texto;
    }

    .hero__main-phrase span {
        color: v.$azul-claro;
        position: relative;
        display: inline-block;
        
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -5px; /* Ajusta la posición de la curva */
            height: 2rem; /* Grosor de la curva */
            border-bottom: .5rem solid #3498db;
            border-radius: 50%;
            transform: scaleX(0.8); /* Ajusta el ancho de la curva */
        }
    }

    p {
        font-size: 2.3rem;
    }

    .animated-button {
        @include m.animatedButton(v.$verde);
    }
    
}